<!DOCTYPE HTML>
<html>
<head>
    <title>Kavinė - mokomoji pavyzdinė programa</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div id="page">
    <nav>
	<a href="http://localhost:8080/paruosimas">Paruošimas</a>
	<a href="http://localhost:8080/uzsakymai">Užsakymai</a>
	<a href="http://localhost:8080/patiekalai">Patiekalai</a>
	<a href="http://localhost:8080/produktai">Produktai</a>
	<a href="http://localhost:8080/tiekejai">Tiekėjai</a>
    </nav>
    </div>
</body>
</html>